name: Tests

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test:
    name: Run Tests
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      linux_exclude_swift_versions: "5.9,5.10,6.0,6.1"
      windows_exclude_swift_versions: "5.9,5.10,6.0,6.1"
