name: Tests

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test:
    name: Run Tests
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      linux_swift_versions: '["nightly-main", "nightly-6.2"]'
      windows_swift_versions: '["nightly-main", "nightly-6.2"]'
      enable_macos_checks: true
      macos_exclude_xcode_versions: '[{"xcode_version": "26.0.1"}]'
