name: Tests

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test-macos:
    name: Run macOS Tests
    runs-on: macos-26

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Select Xcode 26.1
        run: sudo xcode-select -s /Applications/Xcode_26.1.app/Contents/Developer

      - name: Swift version
        run: swift --version

      - name: Build
        run: swift build

      - name: Run tests
        run: swift test

  test-linux:
    name: Run Linux Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Swift
        run: |
          curl -O https://download.swift.org/swiftly/linux/swiftly-$(uname -m).tar.gz
          tar zxf swiftly-$(uname -m).tar.gz
          ./swiftly init --quiet-shell-followup
          . "${SWIFTLY_HOME_DIR:-$HOME/.local/share/swiftly}/env.sh"
          hash -r

      - name: Swift version
        run: swift --version

      - name: Build
        run: swift build

      - name: Run tests
        run: swift test
