name: Tests

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test:
    name: Run Tests
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
